<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265557601009-6effhu235najhm9du9jrk3otaga5gv1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265557601009-6effhu235najhm9du9jrk3otaga5gv1b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265557601009-t7i6egdub56bj93he92resfebmacs9c8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkqaVlN5av4UFGahKxGfXXyxKvzle3XFU</string>
	<key>GCM_SENDER_ID</key>
	<string>265557601009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-course-2ff32</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-course-2ff32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265557601009:ios:2874d93d5894ac219ad750</string>
</dict>
</plist>